{
  "presets": [
    "babel-preset-expo",
    "stage-0"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "root-import",
        "relay",
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
